extends ../layout

append head
  link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4/leaflet.css')
  //if lte IE 8
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css')

block content
  .tab-bar
    ul.nav.nav-tabs
      li.active.offset3
        a(href="/user") Your Profile
      li
        a(href="#") Your Favorite Users

  if message.length !== 0
    .row
      .alert.alert-error.span5.offset7.login-alert
        button.close(type='button', data-dismiss='alert') x
        =message

  #image-box.span3.offset3.row
    #profile-image.span3.thumbnail
      img.span3(src='http://49.212.161.19:3050/#{ user.profilePhoto }')

      .caption
        #image-options
          a.btn.btn-info(href='#photo-modal', data-toggle='modal') Change Photo

  #info-box.span9
    input#csrf(type='hidden', name='_csrf', value=token)
    table.info-table.table.table-bordered.table-hover
      tr
        td.user-label Username
        td=user.username 
      tr
        td.user-label Email
        td=user.email 
      tr
        td.user-label Screen Name
        td
          if user.screenName
            a#screen-name(href='#', data-type='text', data-pk=user.id, data-name='screenName', data-original-title='Ogorin Screen Name')=user.screenName
          else
            a#screen-name(href='#', data-type='text', data-pk=user.id, data-name='screenName', data-original-title='Ogorin Screen Name')
      tr
        td.user-label Status Message
        td
          if user.statusMessage
            a#status-message(href='#', data-type='textarea', data-pk=user.id, data-name='statusMessage', data-original-title='Status Message')=user.statusMessage
          else
            a#status-message(href='#', data-type='textarea', data-pk=user.id, data-name='statusMessage', data-inputclass='span3', data-original-title='Status Message')
      tr
        td.user-label Gender
        td
          if user.gender
            a#gender(href='#', data-type='select', data-pk=user.id, data-name='gender', data-original-title='Select your gender')=user.gender
          else
            a#gender(href='#', data-type='select', data-pk=user.id, data-name='gender', data-value, data-prepend='Not selected', data-original-title='Select your gender')
      tr
        td.user-label Birthday
        td
          if user.birthday
            a#birthday(href='#', data-type='date', data-pk=user.id, data-name='birthday', data-original-title='Your birthday')=user.birthday
          else
            a#birthday(href='#', data-type='date', data-pk=user.id, data-name='birthday', data-original-title='Your birthday')
      tr
        td.user-label About
        td
          if user.about
            a#about(href='#', data-type='textarea', data-pk=user.id, data-name='about', data-original-title='About you')=user.about
          else
            a#about(href='#', data-type='textarea', data-pk=user.id, data-name='about', data-original-title='About you')
      tr
        td.user-label Occupation
        td
          if user.occupation
            a#occupation(href='#', data-type='text', data-pk=user.id, data-name='occupation', data-original-title='Your occupation')=user.occupation
          else
            a#occupation(href='#', data-type='text', data-pk=user.id, data-name='occupation', data-original-title='Your occupation')
      tr
        td.user-label Blood Type
        td
          if user.bloodType
            a#blood-type(href='#', data-type='select', data-pk=user.id, data-name='bloodType', data-original-title='Your blood type')=user.bloodType
          else
            a#blood-type(href='#', data-type='select', data-pk=user.id, data-value, data-prepend='Not selected', data-name='bloodType', data-original-title='Your blood type')

      tr
        td.user-label Location
        td
          p.text-info.notice-location
          input#user-id(type='hidden', value='#{ user.id }')
          input#latitude(type='hidden', value='#{ user.lastLocation.coords[1] }')
          input#longitude(type='hidden', value='#{ user.lastLocation.coords[0] }')
          #profile-map
          button#update-location.btn Update Location

  #photo-modal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='modal-label')
    form(action='/user/change-photo/', method='post', enctype='multipart/form-data')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3#modal-label Change profile photo

      .modal-body
        .fileupload.fileupload-new(data-provides='fileupload')
          .fileupload-new.thumbnail.align-image
            img.span3(src='http://49.212.161.19:3050/#{ user.profilePhoto }')
          .fileupload-preview.fileupload-exists.thumbnail.uploaded-image
          .image-buttons
            span.btn.btn-file
              span.fileupload-new Select image
              span.fileupload-exists Change
              input(type='file', name='profilePhoto')
              input(type='hidden', name='_csrf', value=token)

            a.btn.fileupload-exists(href='#', data-dismiss='fileupload') Remove
            

      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Cancel
        button.btn.btn-primary(type='submit') Save Image



prepend scripts
  script(src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js")
