extends ../layout

append head
  link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4/leaflet.css')
  //if lte IE 8
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css')

block content
  .tab-bar
    ul.nav.nav-tabs
      li.offset3
        a(href="/user") 検索に戻る
      li.active
        a(href="#") #{ user.username }のユーザー情報

  #map-box.span12.offset3.row
    input#latitude(type='hidden', value='#{ user.lastLocation.coords[1] }')
    input#longitude(type='hidden', value='#{ user.lastLocation.coords[0] }')
    input#user-id(type='hidden', value='#{ user.id }')
    input#current-user(type='hidden', value='#{ currentUser.id }');
    #map

  #profile-box.span12.offset3.row
    #details.span4.thumbnail
      img(src='http://49.212.161.19:3050/#{ user.profilePhoto }')

      .caption
        h4#username=user.username
        ul
          li
            strong メール: 
            a(href='mailto:#{ user.email }') #{ user.email }

          li
            strong Type:
            |  #{ user.type }

          if user.gender 
            li
              strong 性別:
              |  #{ user.gender }

          if user.about
            li
              strong 詳細:
              |  #{ user.about }

          if user.birthday
            li
              strong 生年月日:
              |  #{ user.birthday }

          if user.screenName
            li
              strong スクリーン名:
              |  #{ user.screenName }

          if user.occupation
            li
              strong 職業:
              |  #{ user.occupation }

          if user.bloodType
            li
              strong 血液型:
              |  #{ user.bloodType }

          if user.lastLocation.name
            li
              strong 最後の場所: 
              |  #{ user.lastLocation.name }
          li
            strong ステータス:&nbsp; 
              if user.status === 'online'
                span.label.label-success=user.status.toUpperCase()
              else if user.status === 'offline'
                span.label=user.status.toUpperCase()
              else
                span.label.label-important=user.status.toUpperCase()

    #chat.span7
      #chat-box-profile.well
      .row#chat-options
        textarea#message.span5(rows='1', placeholder='メッセージ')
        button#send.btn.span2 メッセージ送信

prepend scripts
  script(src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js")
  script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js')
  script(src='/components/moment/moment.js')
  script(src='/components/moment/lang/jp.js')
